:root {
  --main-color: #ff5900;
  --second-color: #ffedd4;
  --font-main-color: oklch(0.21 0.034 264.665);
  --font-second-color: oklch(0.551 0.027 264.364);
}

.content-side::-webkit-scrollbar,
.navtap-body::-webkit-scrollbar {
  width: 8px;
}

.content-side::-webkit-scrollbar-track,
.navtap-body::-webkit-scrollbar-track {
  background: #fff;
}
.content-side::-webkit-scrollbar-thumb,
.navtap-body::-webkit-scrollbar-thumb {
  background-color: #ffdbd2;
  border-radius: 20px;
  border: 2px solid #fff;
}

.content-side::-webkit-scrollbar-thumb:hover,
.navtap-body::-webkit-scrollbar-thumb:hover {
  background-color: #b46653;
}

.w-33 {
  width: 33.3333%;
}

.mynav {
  background: #ffffff !important;
  box-shadow: 0.625rem 0rem 0.625rem rgba(0, 0, 0, 0.226);
}

.page-logo {
  width: 2.8125rem;
  height: 2.8125rem;
  padding: 0.75rem;
  margin-right: 0.625rem;
  background: var(--main-color);
}

.page-name .main-name {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--font-main-color);
}
.page-name .second-name {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
  color: var(--font-second-color);
}

.mynav .nav-links li {
  width: auto;
  margin-bottom: 10px;
}
.mynav .nav-links li span {
  transition: all 0.5s;
}

.mynav .nav-links li:hover span {
  color: var(--main-color);
}

.mynav .nav-links li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #333;
}
.mynav .nav-links li a img {
  width: 25px;
  height: auto;
}

.mynav .nav-links .profile-photo {
  width: 2.5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.125rem solid var(--main-color);
}

/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/

body {
  background: #fefbe9;
}

.main-recipe-row {
  background-color: #ffffff;
  border: 0.125rem solid var(--second-color);
  border-radius: 1.25rem;
  overflow: hidden; /* عشان الحواف الدائرية */
  position: relative;
}

.content-side {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.recipe-stats {
  width: 90%;
  border-radius: 0.9375rem;
  padding: 1.25rem;
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #faf9f7;
  z-index: 10;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}
.recipe-stats p {
  color: var(--font-second-color);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.recipe-stats span {
  color: var(--font-main-color);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.recipe-rate {
  top: 4%;
  left: 5%;
}
.recipe-rate p {
  color: var(--font-second-color);
  font-size: 0.875rem;
  font-weight: 400;
}

.star-rate {
  width: 1.125rem !important;
}
.recipe-rating-number {
  color: var(--font-main-color);
  font-size: 1rem;
  font-weight: 600;
}

.recipe-rate span,
.recipe-rate p,
.recipe-rate img {
  vertical-align: middle;
}

/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/
/**************************************************************************************/

.main .alert {
  border-left: 0.25rem solid red;
  border-radius: 0.9375rem;
  background-color: #fef2f2;
}

#recipe-level,
#recipe-culture {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}
#recipe-level {
  background: #dbfce7;
  color: oklch(0.527 0.154 150.069);
}
#recipe-culture {
  background: #dbeafe;
  color: oklch(0.488 0.243 264.376);
}

#recipe-name {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  color: var(--font-main-color);
}
#recipe-description {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--font-second-color);
}

.save-share-bottons li a {
  background-color: var(--second-color);
  text-align: center;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
  transition: all 0.3s;
}
.save-share-bottons li a:hover {
  background-color: #ffd6a7;
}

.nav-tabs .nav-link p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--font-second-color);
}

.nav-tabs .nav-link:hover p {
  color: #364153;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.active p {
  color: var(--main-color);
}

.nav-tabs .nav-link.active {
  border-bottom: 0.125rem solid var(--main-color);
}

.navtap-icons {
  width: 0.9375rem;
}

.navtap-body {
  max-height: 23.75rem;
  overflow-y: auto;
}
.navtap-content {
  border-radius: 0.9375rem;
}
.navtap-bg-color {
  background: #fef2f2;
}

.ingredient-number {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1rem;
  padding: 0.3125rem 0.625rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 50%;
  margin-right: 0.625rem;
}
.instruction-number {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.625rem 1.125rem;
  color: white;
  background-color: var(--main-color);
  border-radius: 30%;
  margin-right: 0.625rem;
}
.navtap-text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: oklch(0.373 0.034 259.733);
}
.navtap-content div:last-child p {
  margin-bottom: 0;
}

.nutrition-card {
  background: #F9FAFB;
  padding: 15px 20px;
  border-radius: 15px;
}
.nutrition-item span {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: oklch(0.373 0.034 259.733);
}

.nutrition-value {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: var(--font-main-color);
}

.nutrition-item-icons {
  width: 40px;
  background: #fef2f2;
  margin-right: 10px;
  padding: 10px 12px;
  border-radius: 5px;
}

.chef-tip-card p {
  margin: 0;
}

.chef-tip-card {
  background-color: #fef2f2;
  border-left: 5px solid #ffb900;
  border-radius: 10px;
  padding: 20px 15px;
  margin-bottom: 20px;
}

.chef-tips-icons {
  width: 20px;
  margin-right: 10px;
}

.recipe-button {
  margin-bottom: 55px;
}

#recipe-change-button {
  background: linear-gradient(90deg, #ff6000 0%, #fd402a 100%);
  box-shadow: 0 10px 20px rgba(2, 0, 0, 0.205);
  border: none;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.25rem;
  gap: 10px;
  transition: all 0.3s;
}

#recipe-change-button:hover {
  transform: scale(1.05);
  background: linear-gradient(90deg, #f33f00 0%, #e80006 100%);
  box-shadow: 0 10px 20px rgba(2, 0, 0, 0.377);
}

/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/
/*******************************************************************************/

@media (min-width: 62rem) {
  .main-recipe-row {
    height: 75vh;
    max-height: 98vh;
    min-height: 37.5rem;
  }

  .recipe-image-container {
    height: 100%;
  }

  .nav-item-text {
    display: none;
  }
  .navtap-item {
    width: 25%;
  }
  .nutrition-card {
    width: 48%;
  }
}

@media (max-width: 61.9375rem) {
  .main-recipe-row {
    height: auto;
  }

  .recipe-image-container {
    height: 33.333vh;
    min-height: 18.75rem;
  }
  .nav-item {
    margin: 10px;
  }
  .navtap-item {
    width: 50%;
    padding-left: 12.5%;
    margin-bottom: 20px;
  }
  .nav-link {
    justify-content: start;
  }
}

@media (max-width: 768px) {
  #recipe-name {
    font-size: 1.5rem;
    line-height: 1.8rem;
  }

  #recipe-description {
    font-size: 0.9rem;
  }

  .nav-tabs .nav-link {
    padding: 0.5rem;
    gap: 5px !important;
  }

  .nav-tabs .nav-link p {
    font-size: 0.75rem;
  }
}
